#Please don't change this file.

<?xml version="1.0" encoding="utf8" ?>
    <ws>
        <main type="CRF" model="./models/ws.crf.model">
            <post type = "pos" model="./models/rolls">
            <prep type = "pos" model="./models/preps">
    </ws>

    <pos>
        <main type="CRF" model="./models/pos.crf.model">
    </pos>

    <ner>
        <main type="CRF" model="./models/ner.model">
    </ner>

    <chunk>
        <main type="CRF" model="./models/chunk.model">
    </chunk>

    <constituent>
        <main type = "Zpar" model="./models/zpar.model">
    </constituent>

    <dependency>
        <main type = "RNN" model="./models/rnn.dp.model">
    </dependency>

    <consrl>
	<iden main type = "" iden-model="./models/srl.iden.model">
	<clas main type = "" clas-model="./models/srl.clas.model">
	<head main type = "" head-table="./models/ChineseHeadTable.txt">
    </consrl>
